<h1>Write a review for {{ thisRestaurant.name }} </h1>
<p class="text-danger">{{ errors }}</p>
<form (submit)="addReview()">
  <div>
    <label>Customer Name: </label>
    <input [(ngModel)]="newReview.customer" name="customer" type="text">
  </div>
  <div>
    <label>Rating: </label>
    <select [(ngModel)]="newReview.rating" name="rating" type="number">
        <option value ="1">1</option>
        <option value ="2">2</option>
        <option value ="3">3</option>
        <option value ="4">4</option>
        <option value ="5">5</option>
      </select>
    </div>
  <div>
    <label>Customer Name: </label>
    <input [(ngModel)]="newReview.description" name="description" type="text">
  </div>
  <button type="button" (click)="handleCancel()">
    Cancel
  </button>
  <button>Submit</button>
</form>
<hr>